version: 2.1
job_configuration: &job_configuration
  docker:
    - image: circleci/node:10-stretch
  working_directory: ~/repo
jobs:
  test:
    <<: *job_configuration
    steps:
      - checkout
      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "package.json" }}
            - v1-dependencies-
      - run: yarn install
      - save_cache:
          paths:
            - node_modules
          key: v1-dependencies-{{ checksum "package.json" }}
      - run: yarn test

  build-and-run:
    <<: *job_configuration
    steps:
      - checkout
      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "package.json" }}
            - v1-dependencies-
      - run: yarn install
      - save_cache:
          paths:
            - node_modules
          key: v1-dependencies-{{ checksum "package.json" }}
      - run: yarn test
      - run: yarn build
      - run: sudo npm link
      - run: |
          proxay -m record -h https://www.google.com -t tapes/ &
          # Wait until it loads.
          until (curl http://localhost:3000 2>&1 | grep Google &>/dev/null)
          do
            echo "Waiting until server ready..."
            sleep 5
          done

  prettier-check:
    <<: *job_configuration
    steps:
      - checkout
      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "package.json" }}
            - v1-dependencies-
      - run: yarn install
      - save_cache:
          paths:
            - node_modules
          key: v1-dependencies-{{ checksum "package.json" }}
      - run:
          name: Prettier
          command: |
            yarn prettier --list-different "**/*.js" "**/*.jsx" "**/*.ts" "**/*.tsx"

  tslint-check:
    <<: *job_configuration
    steps:
      - checkout
      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "package.json" }}
            - v1-dependencies-
      - run: cd docs && yarn install
      - save_cache:
          paths:
            - node_modules
          key: v1-dependencies-{{ checksum "package.json" }}
      - run:
          name: Check type safety
          command: |
            yarn tsc --noEmit
      - run:
          name: Build docs
          command: |
            yarn build

  docs-check:
    <<: *job_configuration
    steps:
      - checkout
      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "docs/package.json" }}
            - v1-dependencies-
      - run: yarn install
      - save_cache:
          paths:
            - node_modules
          key: v1-dependencies-{{ checksum "docs/package.json" }}
      - run: yarn test

  publish:
    <<: *job_configuration
    steps:
      - checkout
      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "package.json" }}
            - v1-dependencies-
      - run: yarn install
      - save_cache:
          paths:
            - node_modules
          key: v1-dependencies-{{ checksum "package.json" }}
      - run: yarn build
      - run:
          name: Authenticate with registry
          command: echo "//registry.npmjs.org/:_authToken=$NPM_TOKEN" > ~/repo/.npmrc
      - run:
          name: Publish
          command: |
            npm publish --access=public

workflows:
  build-and-test:
    jobs:
      - test:
          filters:
            tags:
              only: /^v[0-9]+\.[0-9]+\.[0-9]+$/
      - build-and-run:
          filters:
            tags:
              only: /^v[0-9]+\.[0-9]+\.[0-9]+$/
      - prettier-check:
          filters:
            tags:
              only: /^v[0-9]+\.[0-9]+\.[0-9]+$/
      - tslint-check:
          filters:
            tags:
              only: /^v[0-9]+\.[0-9]+\.[0-9]+$/
      - docs-check:
          filters:
            tags:
              only: /^v[0-9]+\.[0-9]+\.[0-9]+$/
      - publish:
          requires:
            - test
            - build-and-run
            - prettier-check
            - tslint-check
          filters:
            tags:
              only: /^v[0-9]+\.[0-9]+\.[0-9]+$/
            branches:
              ignore: /.*/
