name: CI

on:
  pull_request:
    branches:
      - master
  push:
    branches:
      - master
  release:
    types: [published]

jobs:
  test:
    name: "test-node-${{ matrix.node-version }}"
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        node-version: [18, 20, 22, 24]
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - uses: pnpm/action-setup@v4

      - name: Setup NodeJS ${{ matrix.node-version }}
        uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node-version }}

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Run tests
        env:
          JEST_JUNIT_OUTPUT_DIR: ./test-reports/jest
          JEST_JUNIT_OUTPUT_NAME: results.xml
          JEST_JUNIT_CLASSNAME: "{filepath}"
        run: pnpm ci:test

      - name: Upload test results
        uses: actions/upload-artifact@v4
        with:
          name: test-results-node-${{ matrix.node-version }}
          path: ./test-reports

      - name: Test summary
        uses: test-summary/action@v2
        with:
          paths: ./test-reports/jest/results.xml

  lint:
    name: "lint"
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - uses: pnpm/action-setup@v4

      - name: Setup NodeJS
        uses: actions/setup-node@v6
        with:
          node-version-file: .tool-versions
          cache: 'pnpm'

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Run prettier
        run: pnpm lint:check

  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - uses: pnpm/action-setup@v4

      - name: Setup NodeJS
        uses: actions/setup-node@v6
        with:
          node-version-file: .tool-versions
          cache: 'pnpm'

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - run: pnpm build
      - run: npm link
      - run: npx proxay --help
      - run: |
          npx proxay -m record -h https://www.google.com -t tapes/ &
          # Wait until it loads.
          until (curl http://localhost:3000 2>&1 | grep Google &>/dev/null)
          do
            echo "Waiting until server ready..."
            sleep 5
          done

  publish:
    runs-on: ubuntu-latest
    if: github.event_name == 'release'
    needs:
      - test
      - build
      - lint
    env:
      # Used in setup-node and publish steps
      NODE_AUTH_TOKEN: ${{ secrets.NPMJS_PUBLISH_TOKEN }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - uses: pnpm/action-setup@v4

      - name: Setup NodeJS
        uses: actions/setup-node@v6
        with:
          node-version-file: .tool-versions
          cache: 'pnpm'
          registry-url: 'https://registry.npmjs.org'

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - run: pnpm build

      - name: Publish to npm registry
        run: npm publish --provenance --access public
